body {
	font-family: 'Poppins', sans-serif;
	background: url(../images/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	max-width: 800px;
	margin: auto;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2	{
	color: white;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 32px;
}

p {
	color: white;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5rem;
}

img {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
	max-width: 275px;
}
